# Describes the format for available Pura services

start_timer:
  fields:
    area_id:
      required: false
      example: living_room
      selector:
        area:
          device: &pura_models # Define model list once for reuse
            - integration: pura
              model: Pura 3
            - integration: pura
              model: Pura 4
            - integration: pura
              model: Pura Plus
            - integration: pura
              model: Pura Mini
          multiple: true
    device_id:
      required: false
      selector:
        device:
          filter:
            *pura_models
          multiple: true
    slot:
      required: false
      example: 1
      selector:
        select:
          options:
            - "1"
            - "2"
    intensity:
      required: true
      example: 4
      default: 4
      selector:
        number:
          min: 1
          max: 10
    duration:
      required: true
      example: "hours: 0\nminutes: 30\nseconds: 0"
      default:
        hours: 0
        minutes: 30
        seconds: 0
      selector:
        duration:
